body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
}

.top-right {
    position: absolute;
    top: 20px;
    right: 40px;
    background-color: #faf8f5;
    padding: 10px;
    border: 10px;
}

h1, p {
    color: #333;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

