body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
}

.top-right {
    position: fixed; /* Fixed position to keep it at the specified location */
    top: 10px; /* Slightly away from the top edge */
    right: 10px; /* Slightly away from the right edge */
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    padding: 10px; /* Padding around the text */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow to make it appear above the page */
    z-index: 1000; /* High z-index to ensure it's above other content */
}

p {
    color: #333;
}

h1 {
    font-family: 'Poppins', sans-serif; 
    color: #2c3e50; /* Dark blue color for contrast */
    font-size: 54px;
    font-weight: 600;
    font-style: normal;
    text-align: center;
}

#weather-info {
    display: flex;
    align-items: center; /* Center the icon and text vertically */
}

#weather-icon {
    margin-right: 5px; /* Space between icon and temperature */
    color: #f39c12; /* Color of the icon, change as needed */
}