body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
}

#top-right {

    position: fixed; /* Fixed position to keep it at the specified location */
    top: 10px; /* Slightly away from the top edge */
    right: 10px; /* Slightly away from the right edge */
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    padding: 10px; /* Padding around the text */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow to make it appear above the page */
    z-index: 1000; /* High z-index to ensure it's above other content */
}

p {
    color: #333;
}

#location {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: #2980b9;
}

#temperature {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    color: #c0392b;
}

h1 {
    font-family: 'Poppins', sans-serif; 
    color: #2c3e50; /* Dark blue color for contrast */
    font-size: 54px;
    font-weight: 600;
    font-style: normal;
    text-align: center;
}

#site-footer {
    width: 100%;
    padding: 10px 20px;
    background-color: rgb(211, 208, 208);
    color: rgb(89, 44, 148);
    text-align: center;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
    position: fixed;
    bottom: 0;
    left: 0;
    font-family: 'Arial', sans-serif;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar-link {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar-link:hover {
    color: #f1f1f1;
}

#sidebarToggle {
    position: absolute;
    top: 10px;
    left: 10px;
}


/* Responsive adjustments for mobile phones */
@media (max-width: 480px) {
    #top-right {
        position: fixed; /* Optional: Change position */
        width: 100%; /* Full width */
        top: 10;
        right: 10;
        margin-bottom: 10px; /* Add space below the div */
        text-align: center; /* Center the content */
    }

    h1 {
	    font-size: 24px;
	    font-weight: 600;
    }

    #site-footer {
        padding: 5px 10px;
        font-size: 14px;
    }
}